.jumbotron{
    background-color: #e0dede;
}
/*map style*/
#myMap{
    position: absolute;
    top:0;
    left:36%;
    height:46%;
    width: 32%;
    border:0;
}
#printoutPanel{
    position: absolute;
    top:0;
    right:0;
    height:100%;
    width: 32%;
    border:0;
    overflow-x: hidden;
    overflow-y: auto;

}

#anchor{
    position:absolute;
    top:46%;
    left:36%;
    width: 32%;
    height: 8%;
    text-align: center;
    font-size: 18px;
}
@media screen and (max-width: 900px) {
    #anchor {
        font-size:2.5vw;
    }
}

/*style for image,card*/
#card2{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 36%;
}
#card2 img{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    opacity: 50%;
}
/*image title*/
#card2 h1{
    position:absolute;
    top:6%;
    left:2%;
    text-align: left;
    color: #939191;
    font-size: 18px;
}
@media screen and (max-width: 700px) {
    #card2 h1 {
        font-size:3vw;
    }
}

/*title for the short route map*/
#title-map{
    position: absolute;
    bottom: 40%;
    right:43%;
    font-size: 16px;
}
/*title for the map with reduced time*/

@media screen and (max-width: 800px){
    #title-map {
        font-size:2.8vw;
        right:36%;
    }
}

#text-result{
    position:absolute;
    bottom: 0;
    left:36%;
    text-align:left;
    font-size: 14px;

}

@media screen and (max-width: 700px) {
       #text-result{
           bottom: 0;
        font-size:2vw;
    }
}
