#map {
    width: 100%;
    height: 668px;
}

#layer-select{
    position: absolute;
    top: 4px;
    left: 14%;
    font-size:1vw;
}

@media screen and (max-width: 900px) {
    #layer-select {
        font-size: 9px;
    }
}

#img{
    position: absolute;
    top: -50px;
    right: 20%;
    height: 26%;
    width: 38%;
}
@media screen and (max-width: 900px) {
    #img {
        top:-40px;
    }
}

#card {
    position:absolute;
    top: 1px;
    right: 0.7%;
    height:630px;
    color: white;
    font-size: 1.2vw;
    max-width:18%;
    min-width: 120px;
}
@media screen and (max-width: 900px) {
     #card {
        font-size: 11px;
    }
}

#form {
    position: absolute;
    top: 210px;
    right: 1.6%;
    max-width:16%;
    min-width: 110px;
    color: #171616;
    font-size: 1vw;
}

@media screen and (max-width: 900px) {
    #form {
        font-size: 12px;
    }
}

#example1{
    font-size: 1.2vw;
}

#example2{
    font-size: 1.2vw;
}

#example3{
    font-size: 1.2vw;
}
@media screen and (max-width: 900px) {
    #example1 {
        font-size: 10px;
    }
}
@media screen and (max-width: 900px) {
    #example2 {
        font-size: 10px;
    }
}
@media screen and (max-width: 900px) {
    #example3 {
        font-size: 10px;
    }
}

#combustible {
    position: absolute;
    top: 280px;
    right: 4px;
    width: 97%;
    height: 15%;
    font-size: 1vw;
}

@media screen and (max-width: 900px) {
    #combustible {
        font-size: 12px;
    }
}

#send{
    position: absolute;
    top: 370px;
    right: 50%;
    width: 45%;
    height: 14%;
    font-size: 1vw;
    text-align: center;
}

@media screen and (max-width: 900px) {
    #send {
        font-size: 12px;
    }
}

/*style ol-geocoder*/
.ol-geocoder .gcd-txt-control {
    position: absolute;
    width: 15%;
    height: 5%;
    left:50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}
.ol-geocoder .gcd-txt-input {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1% 20% 1% 20%;
    border: none;
    text-indent: 1%;
    background-color: transparent;
    font-family: inherit;
    font-size: 70%;
}

@media screen and (max-width: 700px) {
    .ol-geocoder .gcd-txt-input{
        font-size: 50%;
    }

}
.ol-geocoder .gcd-txt-input:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px #4d90fe, inset 0 0 6px #4d90fe; }
.ol-geocoder .gcd-txt-reset {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 2.5em;
    height: 100%;
    line-height: 100%;
    border: none;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer; }
.ol-geocoder .gcd-txt-reset::after {
    content: "\d7";
    display: inline-block;
    color: #42a5a1;
    font-size: 100%;
    cursor: pointer; }

.ol-geocoder .gcd-txt-glass {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: inline-block;
    width: 10%;
    height: 100%;
    background-size: 70%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23333' d='M29.156 29.961l-.709.709a2.006 2.006 0 0 1-2.838 0l-5.676-5.674c-.656-.658-.729-1.644-.281-2.412l-3.104-3.102a9.975 9.975 0 0 1-5.965 1.979C5.043 21.461.552 16.97.552 11.43S5.043 1.398 10.583 1.398c5.541 0 10.031 4.491 10.031 10.032 0 2.579-.98 4.923-2.58 6.7l3.035 3.035c.768-.447 1.754-.375 2.41.283l5.676 5.674c.784.785.784 2.056.001 2.839zM18.088 11.389c0-4.155-3.369-7.523-7.524-7.523a7.523 7.523 0 1 0-.001 15.046 7.525 7.525 0 0 0 7.525-7.523z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (max-width: 700px){
    .ol-geocoder .gcd-txt-glass{
        background-size: 100%;
        width: 18%;
        left: 8%;
    }
}

.ol-geocoder ul.gcd-txt-result {
    position: absolute;
    top: 6%;
    left: 50%;
    width: 15%;
    max-height: 25%;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.8);
    transition: max-height 300ms ease-in;
}
.ol-geocoder ul.gcd-txt-result > li {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 0;
    line-height: 0.875rem; }
.ol-geocoder ul.gcd-txt-result > li > a {
    display: block;
    text-decoration: none;
    padding: 3px 5px; }
.ol-geocoder ul.gcd-txt-result > li > a:hover {
    background-color: #d4d4d4; }
.ol-geocoder ul.gcd-txt-result > li:nth-child(odd) {
    background-color: #e0ffe0; }

.ol-geocoder ul.gcd-txt-result:empty {
    display: none; }

.ol-geocoder .gcd-hidden {
    opacity: 0;
    visibility: hidden; }

.ol-geocoder .gcd-pseudo-rotate::after {
    -webkit-animation: spin .7s linear infinite;
    animation: spin .7s linear infinite; }

@-webkit-keyframes spin {
    from {
        transform: rotate(0deg); }
    to {
        transform: rotate(360deg); } }

@keyframes spin {
    from {
        transform: rotate(0deg); }
    to {
        transform: rotate(360deg); } }

.gcd-address {
    font-size: 0.875em;
    font-weight: 500;
    color: #333; }

.gcd-road {
    font-size: 0.875em;
    font-weight: 500;
    color: #333; }

.gcd-city {
    font-size: 0.75em;
    font-weight: normal;
    color: #333; }

.gcd-country {
    font-size: 0.75em;
    font-weight: lighter;
    color: #333; }
